<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title秋招首页</title>
	<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	<div id="mainPage">
		<div id = "logo">
			<img src="../static/img/background-logo.png" alt="">
		</div>
		<div id="wrapper">				<div id="slogan">
				华中科技大学学生社团联合会
				<br>
				秋季招新
			</div>
			<div id="apply">
				<a href="{{url_for('enroll')}} ">报名</a>
			</div>

			<div id="moreInfor">
				<a  href="{{url_for('introduce')}}">社联&部门介绍</a>
			</div>
		</div>
	</div>
</body>
</html>
